/*
	@Harris Christiansen (Code@HarrisChristiansen.com)
	November 2017
	Project: Show Controller - github.com/harrischristiansen/controlshow
*/

/* ------------------------ HTML/Body ------------------------- */

main {
	padding-top: 6px;
}

#msgs {
	height: 55px;
	overflow-y: scroll;
}

/* ------------------------ Buttons ------------------------- */

button.btn:hover {
	cursor: pointer;
}

.btn-xl {
	padding: .75rem 1.5rem;
	font-size: 1.5rem;
	line-height: 1.5;
	border-radius: .4rem;
}

.btn-orange {
	color: #111;
	background-color: #FFA500;
	border-color: #FFA500;
}

.btn-teal {
	color: #111;
	background-color: #11A2A6;
	border-color: #11A2A6
}

/* ------------------------ Room Layout ------------------------- */

.roomLayout {
	position: relative;
	background-color: #CCCCCC;
	width: 400px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
}

.circleLight, .squareLight, .rectLight {
	position: absolute;
	background-color: #0000FF;
	border: 1px solid #000000;
}
/*.circleLight::before {
	content: "";
	width: 1%;
	height: 1%;
	position: absolute;
	z-index: -1;
	box-shadow: 7px 7px 25px 25px #0000FF;
}*/
.circleLight:hover, .squareLight:hover, .rectLight:hover {
	cursor: pointer;
	border: 1.5px solid #000000;
}

.circleLight {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.squareLight {
	width: 25px;
	height: 25px;
	z-index: 0;
}
.rectLight {
	width: 25px;
	height: 50px;
	z-index: 0;
}

.sinkLight {
	left: 190px;
	top: 225px;
}
.ovenLight {
	left: 190px;
	top: 200px;
}
.barLight {
	left: 190px;
	top: 175px;
}
.fridgeLight {
	left: 160px;
	top: 170px;
}
.cabinetLight {
	left: 158px;
	top: 195px;
}

.midLight {
	left: 190px;
	top: 95px;
}
.couchLight {
	left: 190px;
	top: 70px;
}
.tvLight {
	left: 190px;
	top: 45px;
}
.windowLight {
	left: 190px;
	top: 20px;
}
.wallLight {
	left: 240px;
	top: 15px;
}
.tableLight {
	left: 165px;
	top: 50px;
}
.deskLight {
	left: 237px;
	top: 40px;
}

.lampTop {
	left: 20px;
	top: 20px;
}
.lampMid {
	left: 35px;
	top: 35px;
}
.lampBtm {
	left: 50px;
	top: 50px;
}

.bathLight {
	left: 340px;
	top: 190px;
}
.guestLight {
	left: 40px;
	top: 190px;
}

/* ------------------------ End ------------------------- */
